{% load static %}
<html>
    <head>
        <title>Welcome to Django</title>
        <link rel="stylesheet" href="{%static 'css/style1.css' %}">
    </head>
    <body>
        <img src="{%static 'images/ch.jpg' %}">
        <h1>Good Night!!!!</h1>

        <h2>The server date and time is:{{time}}</h2>    <hr>
      
        <table border="5">
            <tr>
            <th>Name</th>
            <th>Roll No</th>
            <th>Marks</th>
        </tr>
        <tr>    
        <td>{{name}}</td>
        <td>{{rollno}}</td>
        <td>{{marks}}</td>
        </tr>
        </table>
    <h3>{{msgs}}<span>{{time}}</span></h3>
    </body>
    
</html>