<html>
<head>
    <title>My Website</title>
</head>
<body>
        <h1>First Page</h1>
   <p>
        math.ceil(x)
        Return the ceiling of x as a float, the smallest integer value greater than or equal to x.
        
        math.copysign(x, y)
        Return x with the sign of y. On a platform that supports signed zeros, copysign(1.0, -0.0) returns -1.0.
        
        New in version 2.6.
        
        math.fabs(x)
        Return the absolute value of x.
<a href="{{url_for('index')}}">Go Back</a>
    </p>
   
</body>

</html>
